<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Portfolio.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    
    <!-- Static file handling for the SPA -->
    <staticContent>
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".map" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  
  <!-- Node.js version configuration -->
  <appSettings>
    <add key="WEBSITE_NODE_DEFAULT_VERSION" value="18.19.0" />
  </appSettings>
</configuration> 