<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Portfolio.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
  </system.webServer>
  <!-- Node.js version configuration for Azure App Service -->
  <appSettings>
    <add key="WEBSITE_NODE_DEFAULT_VERSION" value="18.19.0" />
  </appSettings>
</configuration>
<!--ProjectGuid: D22C5090-2E42-7CF5-DFCE-2717F9F4F06F-->